name: mix

on:
  pull_request:
  push:
    branches: [master]
  schedule:
    - cron: "21 8 * * *"

jobs:
  test:
    name: test (elixir=${{ matrix.elixir }}, otp=${{ matrix.otp }})
    runs-on: ubuntu-latest

    env:
      MIX_ENV: test

    strategy:
      # https://hexdocs.pm/elixir/compatibility-and-deprecations.html#between-elixir-and-erlang-otp
      matrix:
        include:
          - elixir: 1.18
            otp: 27
          - elixir: 1.19
            otp: 28
            lint: true
            dialyzer: true

    steps:
      - uses: actions/checkout@v4

      - id: beam
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - name: Restore deps cache
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: test-${{ steps.beam.outputs.elixir-version }}-${{ github.head_ref || github.ref }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            test-${{ steps.beam.outputs.elixir-version }}-${{ github.head_ref || github.ref }}-
            test-${{ steps.beam.outputs.elixir-version }}-refs/heads/master-mix-

      - run: mix deps.get --check-locked

      - run: mix deps.unlock --check-unused
        if: ${{ matrix.lint }}

      - run: mix compile --warnings-as-errors

      - run: mix format --check-formatted
        if: ${{ matrix.lint }}

      - run: mix test --cover

      - name: Restore PLTs cache
        if: ${{ matrix.dialyzer }}
        uses: actions/cache@v4
        with:
          path: plts
          key: plts-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-${{ github.head_ref || github.ref }}
          restore-keys: |
            plts-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-refs/heads/master

      - run: mix dialyzer --format github
        if: ${{ matrix.dialyzer }}
